bcrypt==3.2.0
fastapi==0.65.1
Jinja2==2.11.3
napalm==3.2.0
ncclient==0.6.10
netaddr==0.8.0
netmiko==3.4.0
nornir==2.5.0
ntc-templates==2.0.0
paramiko==2.7.2
pydantic==1.8.2
pymongo==3.11.4
python-dotenv==0.17.1
PyYAML==5.4.1
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
textfsm==1.1.0
ttp==0.6.0
urllib3==1.26.5
uvicorn==0.13.4
yamlordereddictloader==0.4.0
pysnmp
dpath

